.footer{
    position: absolute;
    height: auto;
    width: 100vw;
    background: #EFEFEF;
    margin-top: 5%;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    flex-direction: row;
    text-align: center;
}

.body h3{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
}

.body a{
    font-family: sans-serif;
}

.body a:hover{
    text-decoration: underline;
}